doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title ASSMOSA - Morro do Sabão

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#!') Morro do Sabão
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    //ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#!') Home
                        li.nav-item
                            a.nav-link(href='#!') About
                        li.nav-item
                            a.nav-link(href='#!') Contact

        // Header - set the background image for the header in the line below
        header.py-5.bg-image-full(style="background-image: url('assets/header-fb.jpg');")
            .text-center.my-5
                img.img-fluid.mb-4(src='assets/logo-moradia-digna.jpg', alt='...')
                h1.text-white.fs-3.fw-bolder Moradia Digna
                p.text-white-50.mb-0 Morro do Sabão

        // Content section
        section.py-5
            .container.my-5
                .row.justify-content-center
                    .col-lg-6
                        h2 Parque Gatumé
                        p.lead Mais informações ver o grupo de Facebook Comunidade Morro do Sabão
                        a.button(href='http:////www.facebook.com/morrodosabaodf') Link
                        p.mb-0
                            | Detalhe da imagem

        // Image element - set the background image for the header in the line below
        .py-5.bg-image-full(style="background-image: url('assets/other.jpg');")
            // Put anything you want here! The spacer below with inline CSS is just for demo purposes!
            div(style='height: 20rem;')

        // Content section
        section.py-5
            .container.my-5
                .row.justify-content-center
                    .col-lg-6
                        h2 Sessão com mais texto
                        p.lead Sub título para colocar mais informações
                        p.mb-0
                            | Texto mais extenso com descrição e mais detalhes

        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white CC0 &copy; dione bigode 2021
                p.m-0.text-center.text-white Logo &copy; D3Images / Freepik license
            
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
